DATABASE_NEON_DATABASE_URL=postgresql://USER:PASSWORD@YOUR-NEON-ENDPOINT.neon.tech/DBNAME?sslmode=require

# Fallback if you are not using Neon
DATABASE_URL=postgresql://postgres:YOUR_REAL_PASSWORD@aws-1-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require&uselibpqcompat=true

# Volitelné (teď je app nepotřebuje, ale můžeš si je uložit pro budoucí Supabase client)
NEXT_PUBLIC_SUPABASE_URL=https://pcjcreaibieyeenhyyil.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_...
